{
    "server": {
        "debug": true,
        "accessLog": "/var/log/hipache/access.log",
{% if ansible_all_ipv6_addresses == [] %}
        "address6": [],
{% endif %}
        "port": 80,
        "workers": 5,
        "maxSockets": 100,
        "deadBackendTTL": 30,
        "tcpTimeout": 5,
        "retryOnError": 0,
        "deadBackendOn500": true,
        "httpKeepAlive": false
    },
    "redisHost": "{{redis_host}}",
    "redisPort": "{{redis_port}}"
}
